{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Blog/ {% block titulo %} {% endblock titulo %}</title>
</head>
<body class="contenedor">
    <div> 
        <a href="{% url 'home' %}"> template home</a> 
        <a href="{% url 'nosotros' %}"> template nosotros</a>
        <a href="{% url 'noticias:inicio' %}"> template noticias</a> 
    </div>
    {% block contenido %} 
    
    {% endblock contenido %}
    
   
    

</body>
</html>